{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Simulation</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container mt-5">
     
        {% if data %}
                 <div class="row mt-5 g-4">
                    <h3 class="text-center">Risk Simulation</h3>

                <!-- Portfolio Weights -->
                <div class="col-lg-6">

                    <div class="card">   
                        <div class="card-body">   

                        <form action="/simulate/" method="post" class="mt-4">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="symbols" class="form-label">Symbols (comma-separated):</label>
                                <!-- Check if 'symbols' exists in the GET request and pre-fill the input -->
                                <input type="text" id="symbols" name="symbols" class="form-control" required value="{{ request.GET.symbols|default_if_none:'' }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Allocate Portfolio</button>
                        </form>
                
                        <div class="mt-4">
                            <label for="allocationRange" class="form-label">Select Allocation:</label>
                            <input type="range" class="form-range" id="allocationRange" min="0" max="{{ data.array_of_allocation|length|add:"-1" }}" step="1" value="0">
                        </div>
                    </div>
            
         
            
                        <div class="card-body">
                            <h2>Simulation Results</h2>
                            <p>Annual Return: {{ data.annual_return }}%</p>
                            <p>Portfolio Volatility: {{ data.port_volatility }}</p>
                            <p>Sharpe Ratio: {{ data.sharpe_ratio }}</p>
                            <h3 class="card-title">Portfolio Weights</h3>

                            {% with first_allocation=data.array_of_allocation.0 %}
                            <ul id="weightsList">
                                {% for symbol, weight in first_allocation.Weights.items %}
                                <li>{{ symbol }}: {{ weight }}%</li>
                                {% endfor %}
                            </ul>
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <!-- Percentage Distribution -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Percentage Distribution</h3>
                            <canvas class="p-4" id="weightsChart" width="2" height="2"></canvas>
                            <script>
                                var allocationData = {{ data.array_of_allocation|safe }};
                                var ctx = document.getElementById('weightsChart').getContext('2d');
                                var colors = ['#cb0c9f', '#8392ab', '#17c1e8', '#82d616', '#ea0606', '#f53939', '#252f40', '#C9CBCF'];
                                
                                var weightsChart = new Chart(ctx, {
                                    type: 'doughnut',
                                    data: {
                                        labels: Object.keys(allocationData[0].Weights),
                                        datasets: [{
                                            data: Object.values(allocationData[0].Weights).map(weight => weight * 100),
                                            backgroundColor: colors,
                                            borderColor: colors,
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                position: 'top',
                                            },
                                            layout: {
                                                padding: 10
                                            }
                                        }
                                    }
                                });
                            
                                document.getElementById('allocationRange').addEventListener('input', function() {
                                    var index = this.value;
                                    var selectedAllocation = allocationData[index];
                            
                                    // Sort the allocations in descending order
                                    var sortedAllocations = Object.entries(selectedAllocation.Weights).sort((a, b) => b[1] - a[1]);
                            
                                    // Update weights list
                                    var weightsList = document.getElementById('weightsList');
                                    weightsList.innerHTML = '';
                                    sortedAllocations.forEach(([symbol, weight]) => {
                                        var li = document.createElement('li');
                                        li.textContent = symbol + ': ' + (weight * 100).toFixed(2) + '%';
                                        weightsList.appendChild(li);
                                    });
                            
                                    // Update chart
                                    weightsChart.data.labels = sortedAllocations.map(([symbol, weight]) => symbol);
                                    weightsChart.data.datasets[0].data = sortedAllocations.map(([symbol, weight]) => weight * 100);
                                    weightsChart.data.datasets[0].backgroundColor = sortedAllocations.map((_, index) => colors[index % colors.length]);
                                    weightsChart.data.datasets[0].borderColor = sortedAllocations.map((_, index) => colors[index % colors.length]);
                                    weightsChart.update();
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}